<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IOperater" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/Design_Time_Addresses/AutoServis/Service1/Operater"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IOperater"
                contract="AutoServis.IOperater" name="NetNamedPipeBinding_IOperater">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>